doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PICKLE
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 PICKLE
        main 
            div#welcome
                div(style="border-color: gray; border-style: solid; border-width:1px; padding: 5px; margin:5px; border-radius: 10px;")
                    h4 테스트를 위해 userId를 입력하는 폼
                    input#pickleUserInput(placeholder="userId", required, type="text")
                    button#showRoomList Show RoomList
            div#roomList(style="border-color: gray; border-style: solid; border-width:1px; padding: 5px; margin:5px; border-radius: 10px;")
                h4 userId를 입력하면, user가 입장할 수 있는 룸을 보여주는 곳
            div#call(style="border-color: gray; border-style: solid; border-width:1px; padding: 5px; margin:5px; border-radius: 10px;")
                h4 특정 룸 입장 시, 보여지는 것
                div#myStream
                    video#sharedScreen(autoplay, playsinline, width="600", height="400")
                    video#myFace(autoplay, playsinline, width="300", height="300")
                    video#peerFace(autoplay, playsinline, width="300", height="300")       
                div#controls
                    button#mute 마이크 끄기
                    button#camera 카메라 끄기
                    select#cameras
                    button#shareScreen Share Screen
    script(src="/socket.io/socket.io.js")                    
    script(src="/public/js/app.js")
      